<div *ngIf="typeCnx ==='Client'">

    <div class="card">
        <div class="card-header">
          <strong><i class="fa fa-plus"></i></strong> 
        </div>
        <div class="card-body">
          <form class="form-horizontal" #modifClient= "ngForm" [formGroup]="modifClientForm" (ngSubmit)="onSubmitClient(modifClient.value)">
            <div class="form-group row">
              <div class="col-md-12">
            
       
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      </div>
                      <input type="text" formControlName="mdp" name="mdp" class="form-control" placeholder="Mot de passe" [ngClass]="{ 'is-invalid': submitted && f.mdp.errors }">      
                </div>
                </div>
              </div>
             </div>
             </div>
             
              
             
              <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i> Reset</button>
         
            
          </form>
        </div>
        <div class="card-footer">
          <div>{{retourApi}}</div>
            </div>
      </div>



</div>
<div *ngIf="typeCnx ==='chefAgence' || typeCnx ==='caissier'">

    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
              <strong><i class="fa fa-plus"></i></strong> 
            </div>
            <div class="card-body">
              <form class="form-horizontal" #modif= "ngForm" [formGroup]="modifForm" (ngSubmit)="onSubmitEmp(modif.value)">
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input type="text" formControlName="email" name="email" class="form-control" placeholder="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">      
                  </div>
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" formControlName="mdp" name="mdp" class="form-control" placeholder="Mot de passe" [ngClass]="{ 'is-invalid': submitted && f.mdp.errors }">
                      </div>
                    </div>
                  </div>
                 
                  
                
                 
                  <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button type="reset" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i> Reset</button>
             
                
              </form>
            </div>
            <div class="card-footer">
              <div>{{retourApi}}</div>
                </div>
          </div>
        </div>
      
    </div>

</div>
